<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>Authentication</servlet-name>
        <servlet-class>com.mike.controllers.Authentication</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AutoActive</servlet-name>
        <servlet-class>com.mike.controllers.AutoActive</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowEventDetail</servlet-name>
        <servlet-class>com.mike.controllers.ShowEventDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowEvent</servlet-name>
        <servlet-class>com.mike.controllers.ShowEvent</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Authentication</servlet-name>
        <url-pattern>/authentication</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AutoActive</servlet-name>
        <url-pattern>/autoActive</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowEventDetail</servlet-name>
        <url-pattern>/showEventDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowEvent</servlet-name>
        <url-pattern>/showEvent</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <context-param>
        <param-name>DriverName</param-name>
        <param-value>com.microsoft.sqlserver.jdbc.SQLServerDriver</param-value>
    </context-param>
    <context-param>
        <param-name>ServerName</param-name>
        <param-value>localhost</param-value>
    </context-param>
    <context-param>
        <param-name>DatabaseName</param-name>
        <param-value>KSCManagementEvent</param-value>
    </context-param>
    <context-param>
        <param-name>Port</param-name>
        <param-value>1433</param-value>
    </context-param>
    <context-param>
        <param-name>Username</param-name>
        <param-value>sa</param-value>
    </context-param>
    <context-param>
        <param-name>Password</param-name>
        <param-value>sa</param-value>
    </context-param>
    <context-param>
        <param-name>mail.smtp.auth</param-name>
        <param-value>true</param-value>
    </context-param>
    <context-param>
        <param-name>mail.smtp.starttls.enable</param-name>
        <param-value>true</param-value>
    </context-param>
    <context-param>
        <param-name>mail.smtp.host</param-name>
        <param-value>smtp.gmail.com</param-value>
    </context-param>
    <context-param>
        <param-name>mail.smtp.port</param-name>
        <param-value>587</param-value>
    </context-param>
    <context-param>
        <param-name>GmailUser</param-name>
        <param-value>ducndgc00467@fpt.edu.vn</param-value>
    </context-param>
    <context-param>
        <param-name>GmailPassword</param-name>
        <param-value>Duc76268481993@</param-value>
    </context-param>
</web-app>
