/* OVERRIDE STYLE */
/* xenon-core.css 5286 */
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfood > tr > td,
.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfood > tr > th {
  padding: 12px 10px;
}

.table > thead > tr > th:nth-child(9),
.table > tbody > tr > td:nth-child(9){
    text-align: center;
}

.setWidth {
    max-width: 120px;
}
.concat div {
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: inherit;
    word-break: break-all;
}

/* boostrap.css 2337 */
.form-inline .form-control {
  width: 100%;
}

/*table > thead > tr > th:nth-child(7) {
    width: 50px;
}*/


/* bootstrap.css 2111 */
.table-hover > tbody > tr:hover > td, .table-hover > tbody > tr:hover > th {
    background-color: #ccccff;
}


tr.selected > * {
    background: tomato!important;
}

/* eventinfo.jsp */
.event-info .col-md-4:nth-child(1) {
    padding-left: 0;
}

.event-info .col-md-4:nth-child(3) {
    padding-right: 0;
}

.event-info .table > tbody > tr > td, .table > tfoot > tr > td, 
.event-info .table > tbody > tr > th, .table > tfoot > tr > th {
    border-bottom: 0 none;
    border-top: 0 none;
}

.event-info .modal .modal-dialog .modal-content {
    padding: 0;
}
/* /eventinfo.jsp */
.col-md-6 .panel {
    padding-bottom: 0;
}

/* participant.jsp */
.participant a {
    text-decoration: underline;
    color: skyblue;
    font-weight: bold;
}

.participant b, strong, em {
    color: black;
}

.participant .table > thead > tr > th {
    text-align: center;
}

.participant table > tbody > tr:hover a{
    color: #08C;
}

.participant .status {
    font-style: normal;
    font-weight: bold;
}

.participant .status.paid {
    color: green;
}

.participant .status.no-paid {
    color: red;
}

/* /participant.jsp */