<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>BapCai</servlet-name>
        <servlet-class>servlet.EventServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CaiBap</servlet-name>
        <servlet-class>servlet.Event_PriceServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BapCai</servlet-name>
        <url-pattern>/JSPEventCreating</url-pattern>
        <url-pattern>/EventCreating</url-pattern>
        <url-pattern>/EventUpdating</url-pattern>
        <url-pattern>/EventDeleting</url-pattern>
        <url-pattern>/JSPEventSelecting</url-pattern>
        <url-pattern>/JSPEventNext</url-pattern>
        <url-pattern>/JSPEventPrev</url-pattern>
        <url-pattern>/JSPEventDetail</url-pattern>
        <url-pattern>/JSPEventDetailTicket</url-pattern>
        <url-pattern>/JSPEventDetailParticipants</url-pattern>
        <url-pattern>/EventFilter.guitar</url-pattern>
        <url-pattern>/ThrowLogoAway.oneandoneistwo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CaiBap</servlet-name>
        <url-pattern>/JSPEvent_Price</url-pattern>
        <url-pattern>/Event_PriceInserting</url-pattern>
        <url-pattern>/AJAXEvent_PriceInserting</url-pattern>
        <url-pattern>/Event_PriceDeleting</url-pattern>
        <url-pattern>/Event_PriceUpdating</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
